:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 200;
  color-scheme: white;
  color: rgba(10, 10, 10, 0.87);
  background-color: white; /*#242424;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover{
  font-weight: 600!important;
}
 img:hover{
  opacity: 0.8;
}

